* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, royalblue, greenyellow);
    scroll-behavior: smooth;
}

#searchBox{
    border: 5px solid greenyellow;
    border-radius: 10px;
    width: 300px;
    transition: 0.5s;
}

#searchBox:hover{
    background-color: greenyellow;
    border: 10px solid red;
    transition: 0.5s;
}

#searchButton{
    background-color: yellow;
    padding: 5px;
    border: 2px solid blue;
    border-radius: 10px;
    transition: 0.5s;
}

#searchButton:hover{
    background-color: yellowgreen;
    border: 10px solid royalblue;
    transition: 0.5s;
}

header{
    display: flex;
    align-items: end;
    background-color: royalblue;
    height: 100vh;
    background-image: url("img/fond_d_ecran_chat_et_licorne.webp");
    background-size: cover;
    margin-bottom: 30px;
    background-attachment: fixed;
}

nav{
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, purple);
    background-size: 200% 100%;
    width: 100%;
    border: 2px solid greenyellow;
    animation: rainbow 10s linear infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 30px;
    color: deeppink;
    font-style: italic;
}

a:hover{
    color: pink;
}

img{
    width: 100%;
}

.image{
    width: 100%;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;

}

.article-container {
    text-align: center;
    width: 14.2%;
    color: white;
    font-size: 15px;
    border: 2px solid orange;
    background: linear-gradient(180deg, royalblue, darkred, coral, yellowgreen, violet);
    overflow-x: hidden;


}
#liste{
    display: flex;
    flex-direction: column;
    backdrop-filter:blur(10px);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;

}

#liste li a{
    font-size: 15px;

}

#categoriesContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;


}
#categoryContainer{
    font-size: 30px;
    align-items: center;
    backdrop-filter:blur(10px);
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
}

#categoryContainer:hover{
    padding: 30px;
    height: auto;
    transition: 1s;
}

footer{
    text-align: center;
}