{% extends "base.html.twig" %}

{% block metatitle %}
    404 | Site trop cool
{% endblock metatitle %}

{% block main %}
    <h1>ERROR 404</h1>
    <h2>Tu t'es perdu sur ce site trop cool !</h2>
{% endblock main %}
