{% include "partials/_header.html.twig" %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<main>

    <h1>Liste d'articles</h1>

<section class="articles-container">
    {% for article in articles  %}

        <article class="article-container">
            <p>{{ article.title }}</p>
            <p>{{ article.content }}</p>


        </article>

    {% endfor %}
</section>



</main>

{%  include "partials/_footer.html.twig" %}

</body>
</html>