{% extends "base.html.twig" %}

{% block metatitle %}
    Article updated | Site trop cool
{% endblock metatitle %}

{% block main %}
    <section>
    <h1>Créer un article</h1>

    {{ form(formView) }}
    </section>{% endblock main %}