{% extends "base.html.twig" %}


{% block metatitle %}
{{ article.title }} | Site trop cool
{% endblock metatitle %}

{% block main %}
    <h2>Sélectionnez un article</h2>
    <section class="articles-container">

    {% if article %}

        <article class="article-container">

        <p>{{ article.title }}</p>
        <p>{{ article.content }}</p>
        <p>{{ article.createdAt|date('d/m/Y') }}</p>
        <div><img src="https://static.vecteezy.com/system/resources/thumbnails/012/176/986/small_2x/a-3d-rendering-image-of-grassed-hill-nature-scenery-png.png"></div>


    {% else %}

        <p>Aucun article trouvé</p>
        </article>
    {% endif %}
    </section>

{% endblock main %}




