{% extends "base.html.twig" %}

{% block metatitle %}
    Article create | Site trop cool
{% endblock metatitle %}

{% block main %}
    <section>
        <h1>Créer un article</h1>

        <form method="post">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="title">

            <label for="content">Content</label>
            <input type="text" name="content" placeholder="content">

            <label for="image">Image</label>
            <input type="text" name="image" placeholder="image">

            <input type="submit">

        </form>
    </section>
{% endblock main %}