{% extends "base.html.twig" %}

{% block metatitle %}
    Article create | Site trop cool
{% endblock metatitle %}

{% block main %}
    <h1>Votre article a bien été supprimé !</h1>
{% endblock main %}