{% extends "base.html.twig" %}

{% block metatitle %}
    Liste d'articles | Site trop cool
{% endblock metatitle %}


{% block main %}
    <h1>Liste d'articles</h1>

    <section class="articles-container">
        {% for article in articles %}

            <article class="article-container">
                <p>{{ article.title }}</p>
                <p>{{ article.content }}</p>
                <div class="image"><img src="https://static.vecteezy.com/system/resources/thumbnails/012/176/986/small_2x/a-3d-rendering-image-of-grassed-hill-nature-scenery-png.png"></div>
            <a href="{{ path('article_show', {id: article.id}) }}">Voir l'article</a>


            </article>

        {% endfor %}
    </section>

{% endblock main %}
