{% extends "base.html.twig" %}

{% block metatitle %}
    Catégories | Site trop cool
{% endblock metatitle %}

{% block main %}
    <h1>Catégories</h1>




        <p>{{ category.title }}</p>
        <p>{{ category.color }}</p>


{% endblock main %}